@{
    ViewData["Title"] = "Home Page";
    ViewData["IsHome"] = "true";
    ViewData["Home"] = "active";
}
@section head{
    <link rel="stylesheet" href="~/css/Home/index.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Passenger.css" asp-append-version="true" />
    <link href="~/lib/persian-datepicker/dist/css/persian-datepicker.css" rel="stylesheet" />
    <link href="~/lib/persian-datepicker/dist/css/persian-datepicker.min.css" rel="stylesheet" />
    <link href="~/css/datapicker-style.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/Select2/css/select2.min.css" rel="stylesheet" />
    <!-- Theme Switcher -->
    <!-- ------------------------------------------------------------------------------------ -->
    <script type="text/javascript">
        function swapStyleSheet(sheet) {
            document.getElementById('datepickerTheme').setAttribute('href', sheet);
        }
    </script>
}
<section class="choose-travel">
    <div class="show-big d-sm-block  d-none">
        <div id="bg-img">
            <img src="~/image/travel/airplane/airplane1.jpg" class="domestic-flight-img" />
            <img src="~/image/travel/airplane/airplane3.jpg" class="d-none international-flight-img" />
            <img src="~/image/travel/train/train3.jpg" class="d-none train-img" />
            <img src="~/image/travel/bus/bus1.jpg" class='d-none bus-img' />
        </div>
        <div class="card card-glass rounded border-0 container shadow m-3 ">
            <div class="card-body">
                <div class="choose-type d-flex align-items-end justify-content-between flex-wrap">
                    <a href="#" class="active" id="domestic-flight-btn-show-big">
                        <i class="las la-plane"></i>
                        <h5>پرواز داخلی</h5>

                    </a>
                    <a href="#" id="international-flight-btn-show-big">
                        <i class="las la-fighter-jet"></i>
                        <h5>پرواز خارجی</h5>

                    </a>
                    <a href="#" id="train-btn-show-big">
                        <i class="las la-bus"></i>
                        <h5>قطار</h5>

                    </a>
                    <a href="#" id="bus-btn-show-big">
                        <i class="las la-bus"></i>
                        <h5>اتوبوس</h5>

                    </a>
                </div>
                <div class="show-choose">
                    <div id="domestic-flight-show-big" class="py-3 px-5">
                        <div class="mini-selects mt-2 mb-3">
                            <div class="input-group mini-select">
                                <select id="travel-type" name="travel-type" autocomplete="off" class="select2  input form-control">
                                    <option value="1">یک طرفه</option>
                                    <option value="2">دو طرفه</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-lg-6 mb-2">
                                <div class="input-group-start-end h-100">

                                    <div class="input-group">
                                        <select required="required" name="start-city" autocomplete="off" class="select2 cities input form-control">
                                            <option value="1">test 1</option>
                                            <option value="2">test 2</option>
                                            <option value="3">test 3</option>
                                            <option value="4">test 4</option>
                                        </select>
                                        <label class="user-label">مبدا</label>
                                    </div>
                                    <button class="btn input-change">
                                        <svg viewBox="0 0 24 24" width="1.5em" fill="currentColor"><path d="m16.96 12.157.07.063 3.75 3.75a.757.757 0 0 1 .06.067l-.06-.067a.748.748 0 0 1 .22.53v.025a.728.728 0 0 1-.003.039L21 16.5a.747.747 0 0 1-.147.446l-.01.014-.008.01-.055.06-3.75 3.75a.75.75 0 0 1-1.123-.99l.063-.07 2.469-2.47H8.25a.75.75 0 0 1-.087-1.495l.087-.005h10.189l-2.47-2.47a.75.75 0 0 1-.062-.99l.063-.07a.75.75 0 0 1 .99-.063ZM8.03 3.22a.75.75 0 0 1 .063.99l-.063.07-2.47 2.47h10.19a.75.75 0 0 1 .088 1.495l-.088.005H5.56l2.47 2.47a.75.75 0 0 1 .063.99l-.063.07a.75.75 0 0 1-.99.063l-.07-.063-3.75-3.75-.055-.06a.644.644 0 0 1-.005-.007l.06.067A.756.756 0 0 1 3 7.5v-.014a.47.47 0 0 1 .003-.053L3 7.5a.756.756 0 0 1 .22-.53l3.75-3.75a.75.75 0 0 1 1.06 0Z"></path></svg>
                                    </button>
                                    <div class="input-group">
                                        <select required="required" name="end-city" autocomplete="off" class="select2 cities input form-control">
                                            <option value="1">test 1</option>
                                            <option value="2">test 2</option>
                                            <option value="3">test 3</option>
                                            <option value="4">test 4</option>
                                        </select><label class="user-label">مقصد</label>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-6 mb-2 duplicate-date-group d-none">
                                <div class="input-group-start-end">

                                    <div class="input-group">
                                        <input required="required" type="text" name="from-date" autocomplete="off" class="from-date-input date-input input form-control">
                                        <label class="user-label">از تاریخ</label>
                                        <div class="from-date date-div"></div>
                                    </div>

                                    <div class="input-group">
                                        <input required="required" name="to-date" autocomplete="off" class="to-date-input date-input input form-control">
                                        <label class="user-label">تا تاریخ</label>
                                        <div class="to-date date-div"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 mb-2 col-12 date-group">
                                <div class="input-group">
                                    <input required="required" type="text" name="just-date" autocomplete="off" class="just-date-input date-input input form-control">
                                    <label class="user-label">تاریخ</label>
                                    <div class="just-date date-div"></div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 col-12 mt-3">
                                <div class="input-group">
                                    <input readonly value="1 مسافر" val-big="1" val-avg="0" val-min="0" required="" type="text" name="passengers" autocomplete="off" class="input form-control count-passanger-input">
                                    <label class="user-label">مسافران</label>
                                </div>
                            </div>
                            <div class="col mt-3">
                                <button class="btn float-start text-white btn-search">جستجو</button>
                            </div>
                        </div>


                    </div>
                    <div id="international-flight-show-big" class="py-3 px-5 d-none">
                        <div class="mini-selects mt-2 mb-3">
                            <div class="input-group mini-select">
                                <select required="" type="text" name="text" autocomplete="off" class="select2 input form-control">
                                    <option value="1">test 1</option>
                                    <option value="2">test 2</option>
                                    <option value="3">test 3</option>
                                    <option value="4">test 4</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-lg-6 mb-2">
                                <div class="input-group-start-end">

                                    <div class="input-group">
                                        <select required="" type="text" name="text" autocomplete="off" class="select2  input form-control">
                                            <option value="1">test 1</option>
                                            <option value="2">test 2</option>
                                            <option value="3">test 3</option>
                                            <option value="4">test 4</option>
                                        </select>
                                        <label class="user-label">مبدا</label>
                                    </div>
                                    <button class="btn input-change">
                                        <svg viewBox="0 0 24 24" width="1.5em" fill="currentColor"><path d="m16.96 12.157.07.063 3.75 3.75a.757.757 0 0 1 .06.067l-.06-.067a.748.748 0 0 1 .22.53v.025a.728.728 0 0 1-.003.039L21 16.5a.747.747 0 0 1-.147.446l-.01.014-.008.01-.055.06-3.75 3.75a.75.75 0 0 1-1.123-.99l.063-.07 2.469-2.47H8.25a.75.75 0 0 1-.087-1.495l.087-.005h10.189l-2.47-2.47a.75.75 0 0 1-.062-.99l.063-.07a.75.75 0 0 1 .99-.063ZM8.03 3.22a.75.75 0 0 1 .063.99l-.063.07-2.47 2.47h10.19a.75.75 0 0 1 .088 1.495l-.088.005H5.56l2.47 2.47a.75.75 0 0 1 .063.99l-.063.07a.75.75 0 0 1-.99.063l-.07-.063-3.75-3.75-.055-.06a.644.644 0 0 1-.005-.007l.06.067A.756.756 0 0 1 3 7.5v-.014a.47.47 0 0 1 .003-.053L3 7.5a.756.756 0 0 1 .22-.53l3.75-3.75a.75.75 0 0 1 1.06 0Z"></path></svg>
                                    </button>
                                    <div class="input-group">
                                        <select required="" type="text" name="text" autocomplete="off" class="select2  input form-control">
                                            <option value="1">test 1</option>
                                            <option value="2">test 2</option>
                                            <option value="3">test 3</option>
                                            <option value="4">test 4</option>
                                        </select><label class="user-label">مقصد</label>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-6 mb-2">
                                <div class="input-group-start-end">

                                    <div class="input-group">
                                        <input required="" type="text" name="text" autocomplete="off" class="from-date-input date-input input form-control">
                                        <label class="user-label">از تاریخ</label>
                                        <div class="from-date date-div"></div>
                                    </div>

                                    <div class="input-group">
                                        <input required="" type="text" name="text" autocomplete="off" class="to-date-input date-input input form-control">
                                        <label class="user-label">تا تاریخ</label>
                                        <div class="to-date date-div"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 col-12 mt-3">
                                <div class="input-group">
                                    <input readonly value="1 مسافر" val-big="1" val-avg="0" val-min="0" required="" type="text" name="text" autocomplete="off" class="input form-control count-passanger-input">
                                    <label class="user-label">مسافران</label>
                                </div>
                            </div>
                            <div class="col mt-3">
                                <button class="btn float-start text-white btn-search">جستجو</button>
                            </div>
                        </div>


                    </div>
                    <div id="train-show-big" class="py-3 px-5 d-none">

                        <div class="mini-selects mt-2 mb-3">
                            <div class="input-group mini-select">
                                <select required="" type="text" name="text" autocomplete="off" class="select2 input form-control">
                                    <option value="1">test 1</option>
                                    <option value="2">test 2</option>
                                    <option value="3">test 3</option>
                                    <option value="4">test 4</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-lg-6 mb-2">
                                <div class="input-group-start-end">

                                    <div class="input-group">
                                        <select required="" type="text" name="text" autocomplete="off" class="select2  input form-control">
                                            <option value="1">test 1</option>
                                            <option value="2">test 2</option>
                                            <option value="3">test 3</option>
                                            <option value="4">test 4</option>
                                        </select>
                                        <label class="user-label">مبدا</label>
                                    </div>
                                    <button class="btn input-change">
                                        <svg viewBox="0 0 24 24" width="1.5em" fill="currentColor"><path d="m16.96 12.157.07.063 3.75 3.75a.757.757 0 0 1 .06.067l-.06-.067a.748.748 0 0 1 .22.53v.025a.728.728 0 0 1-.003.039L21 16.5a.747.747 0 0 1-.147.446l-.01.014-.008.01-.055.06-3.75 3.75a.75.75 0 0 1-1.123-.99l.063-.07 2.469-2.47H8.25a.75.75 0 0 1-.087-1.495l.087-.005h10.189l-2.47-2.47a.75.75 0 0 1-.062-.99l.063-.07a.75.75 0 0 1 .99-.063ZM8.03 3.22a.75.75 0 0 1 .063.99l-.063.07-2.47 2.47h10.19a.75.75 0 0 1 .088 1.495l-.088.005H5.56l2.47 2.47a.75.75 0 0 1 .063.99l-.063.07a.75.75 0 0 1-.99.063l-.07-.063-3.75-3.75-.055-.06a.644.644 0 0 1-.005-.007l.06.067A.756.756 0 0 1 3 7.5v-.014a.47.47 0 0 1 .003-.053L3 7.5a.756.756 0 0 1 .22-.53l3.75-3.75a.75.75 0 0 1 1.06 0Z"></path></svg>
                                    </button>
                                    <div class="input-group">
                                        <select required="" type="text" name="text" autocomplete="off" class="select2  input form-control">
                                            <option value="1">test 1</option>
                                            <option value="2">test 2</option>
                                            <option value="3">test 3</option>
                                            <option value="4">test 4</option>
                                        </select><label class="user-label">مقصد</label>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-6 mb-2">
                                <div class="input-group-start-end">

                                    <div class="input-group">
                                        <input required="" type="text" name="text" autocomplete="off" class="from-date-input date-input input form-control">
                                        <label class="user-label">از تاریخ</label>
                                        <div class="from-date date-div"></div>
                                    </div>

                                    <div class="input-group">
                                        <input required="" type="text" name="text" autocomplete="off" class="to-date-input date-input input form-control">
                                        <label class="user-label">تا تاریخ</label>
                                        <div class="to-date date-div"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 col-12 mt-3">
                                <div class="input-group">
                                    <input readonly value="1 مسافر" val-big="1" val-avg="0" val-min="0" required="" type="text" name="text" autocomplete="off" class="input form-control count-passanger-input">
                                    <label class="user-label">مسافران</label>
                                </div>
                            </div>
                            <div class="col mt-3">
                                <button class="btn float-start text-white btn-search">جستجو</button>
                            </div>
                        </div>


                    </div>
                    <div id="bus-show-big" class="py-3 px-5 d-none">
                        <div class="mini-selects mt-2 mb-3">
                            <div class="input-group mini-select">
                                <select required="" type="text" name="text" autocomplete="off" class="select2 input form-control">
                                    <option value="1">test 1</option>
                                    <option value="2">test 2</option>
                                    <option value="3">test 3</option>
                                    <option value="4">test 4</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-lg-6 mb-2">
                                <div class="input-group-start-end">

                                    <div class="input-group">
                                        <select required="" type="text" name="text" autocomplete="off" class="select2  input form-control">
                                            <option value="1">test 1</option>
                                            <option value="2">test 2</option>
                                            <option value="3">test 3</option>
                                            <option value="4">test 4</option>
                                        </select>
                                        <label class="user-label">مبدا</label>
                                    </div>
                                    <button class="btn input-change">
                                        <svg viewBox="0 0 24 24" width="1.5em" fill="currentColor"><path d="m16.96 12.157.07.063 3.75 3.75a.757.757 0 0 1 .06.067l-.06-.067a.748.748 0 0 1 .22.53v.025a.728.728 0 0 1-.003.039L21 16.5a.747.747 0 0 1-.147.446l-.01.014-.008.01-.055.06-3.75 3.75a.75.75 0 0 1-1.123-.99l.063-.07 2.469-2.47H8.25a.75.75 0 0 1-.087-1.495l.087-.005h10.189l-2.47-2.47a.75.75 0 0 1-.062-.99l.063-.07a.75.75 0 0 1 .99-.063ZM8.03 3.22a.75.75 0 0 1 .063.99l-.063.07-2.47 2.47h10.19a.75.75 0 0 1 .088 1.495l-.088.005H5.56l2.47 2.47a.75.75 0 0 1 .063.99l-.063.07a.75.75 0 0 1-.99.063l-.07-.063-3.75-3.75-.055-.06a.644.644 0 0 1-.005-.007l.06.067A.756.756 0 0 1 3 7.5v-.014a.47.47 0 0 1 .003-.053L3 7.5a.756.756 0 0 1 .22-.53l3.75-3.75a.75.75 0 0 1 1.06 0Z"></path></svg>
                                    </button>
                                    <div class="input-group">
                                        <select required="" type="text" name="text" autocomplete="off" class="select2  input form-control">
                                            <option value="1">test 1</option>
                                            <option value="2">test 2</option>
                                            <option value="3">test 3</option>
                                            <option value="4">test 4</option>
                                        </select><label class="user-label">مقصد</label>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-6 mb-2">
                                <div class="input-group-start-end">

                                    <div class="input-group">
                                        <input required="" type="text" name="text" autocomplete="off" class="from-date-input date-input input form-control">
                                        <label class="user-label">از تاریخ</label>
                                        <div class="from-date date-div"></div>
                                    </div>

                                    <div class="input-group">
                                        <input required="" type="text" name="text" autocomplete="off" class="to-date-input date-input input form-control">
                                        <label class="user-label">تا تاریخ</label>
                                        <div class="to-date date-div"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 col-12 mt-3">
                                <div class="input-group">
                                    <input readonly value="1 مسافر" val-big="1" val-avg="0" val-min="0" required="" type="text" name="text" autocomplete="off" class="input form-control count-passanger-input">
                                    <label class="user-label">مسافران</label>
                                </div>
                            </div>
                            <div class="col mt-3">
                                <button class="btn float-start text-white btn-search">جستجو</button>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="show-small d-sm-none d-block">
        <div class="header-phone">
            <div class="logo d-flex align-items-end justify-content-center">
                <span>amsafar</span>
                <img width="50" height="50" src="../illastrations/logo.png" alt="آیکون همسفر" />
            </div>
            <div class="card">
                <div class="card-body d-flex flex-wrap align-content-stretch p-0">

                    <a asp-area="" asp-controller="Home" asp-action="DomesticFlight" class="col-6 text-center d-flex align-items-center justify-content-center" id="domestic-flight-btn-show-small">
                        <div>
                            <i class="las la-plane"></i>
                            <span class="text-transfer">
                                پرواز داخلی
                            </span>
                        </div>
                    </a>
                    <a asp-area="" asp-controller="Home" asp-action="InternationalFlight" class="col-6 text-center d-flex align-items-center justify-content-center" id="international-flight-btn-show-small">
                        <div>
                            <i class="las la-fighter-jet"></i>
                            <span class="text-transfer">
                                پرواز خارجی
                            </span>
                        </div>
                    </a>
                    <a asp-area="" asp-controller="Home" asp-action="Train" class="col-6 text-center d-flex align-items-center justify-content-center" id="train-btn-show-small">
                        <div>
                            <i class="las la-subway"></i>
                            <span class="text-transfer">
                                قطار
                            </span>
                        </div>
                    </a>
                    <a asp-area="" asp-controller="Home" asp-action="Bus" class="col-6 text-center d-flex align-items-center justify-content-center" id="bus-btn-show-small">
                        <div>
                            <i class="las la-bus"></i>
                            <span class="text-transfer">
                                اتوبوس
                            </span>
                        </div>
                    </a>

                </div>
            </div>

        </div>

    </div>

</section>
<div>
    <div class="row w-100 mt-4">
        <div class="col-12 col-md-6 col-lg-8 px-5 ">
            <h3 style="font-weight: bold;">سفرهای درون کشوری با هواپیما: کشفی متفاوت و هیجان‌انگیز</h3>
            <p>
                هر روزه که گذر می‌کند، تکنولوژی‌های حمل و نقل نیز به سرعت در حال پیشرفت هستند و هواپیماها به عنوان یکی از سریع‌ترین و مطمئن‌ترین وسایل نقلیه در دسترس، فرصتی را برای سفرهای درون کشوری با کمترین زمان و کمترین استرس برای مسافران ایجاد کرده‌اند. سفرهای درون کشوری با هواپیما، فرصتی برای کشف جاذبه‌های طبیعی، فرهنگی و تاریخی مختلف در سراسر کشور فراهم می‌کند.
            </p>
            <p>
                استفاده از هواپیما به عنوان وسیله نقلیه اصلی در سفرهای درون کشوری، مزیت‌های فراوانی دارد. اولین و مهم‌ترین مزیت، صرفه‌جویی در زمان است. سفرهای طولانی و خسته‌کننده با وسایل دیگر تبدیل به تجربه‌ای لذت‌بخش و سرگرم‌کننده می‌شود. همچنین، امکان دسترسی به مقاصد دوردست و ناشناخته در کمترین زمان از دیگر مزیت‌های این نوع سفرهاست.
            </p>
            <p>

                هر منطقه از کشور دارای جذب‌های خاص خود است، و هواپیما به مسافران این امکان را می‌دهد تا در کوتاه‌ترین زمان به مقاصد موردنظرشان برسند و به اکتشاف جاذبه‌های منحصربه‌فرد هر منطقه بپردازند. از شهرهای باستانی تا مناظر طبیعی زیبا و از شهرهای مدرن تا روستاهای ساحلی، همه در انتظار کشف توسط مسافران هستند.
            </p>
            <p>

                سفرهای درون کشوری با هواپیما، فرصتی برای فراموش کردن استرس‌های مربوط به ترافیک، ترتیبات حمل و نقل و خستگی‌های راه‌پیمایی فراهم می‌کند. با نشستن در صندلی‌های راحت و دسترسی به خدمات رفاهی متنوع در هنگام پرواز، مسافران می‌توانند سفری آسوده و لذت‌بخش را تجربه کنند.
            </p>
            <p>

                اگر به دنبال تجربه‌ای متفاوت، سریع و هیجان‌انگیز در سفرهای درون کشوری هستید، هواپیما بهترین انتخاب خواهد بود. این تجربه به شما امکان می‌دهد تا در کمترین زمان به مقصد برسید و لحظاتی خاص را در مسیر با دیدن مناظر خیره‌کننده و تجربه فرهنگ‌های مختلف به خود اختصاص دهید. از راحتی پرواز تا هیجان هر مقصد، سفرهای درون کشوری با هواپیما تجربه‌ای منحصربه‌فرد را در اختیار شما قرار می‌دهند.
            </p>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <img src="~/Image/travel/travel_pic3.jpg" style="width: 100%;
    height: auto;
    position: sticky;
    top: 50px;
    max-width:500px;
z-index:-1;" />
        </div>
    </div>

</div>



@section Scripts{
    @*
    <script src="~/lib/persian-datepicker/dist/js/persian-datepicker.min.js"></script>*@
    <script src="~/lib/persian-date/dist/persian-date.js" asp-append-version="true"></script>
    @*<script src="~/lib/persian-date/dist/persian-date.min.js"></script>*@
    <script src="~/lib/persian-datepicker/dist/js/persian-datepicker.js"></script>
    <script src="~/js/Home/index.js" asp-append-version="true"></script>
    <script src="~/js/Passenger.js" asp-append-version="true"></script>
    <script src="~/lib/Select2/js/select2.min.js"></script>
    <script src="~/lib/Select2/js/select2.full.min.js"></script>
    <script src="~/lib/Select2/js/select2.full.min.js"></script>
}