@{
    ViewData["Title"] = "تایید حساب کاربری";//از کجا و به کجا هم باید مشخصذباشه
    
}
@section head{
    
}
<div class="container card shadow rounded bg-info">

    <h1>تایید حساب کاربری با ایمیل</h1>
    <h4>کاربر گرامی لطفا برای تایید حساب کاربری خود بر روی لینکی که برای  شما ایمیل شد کلیک نمایید</h4>
</div>

